/* Boiler plate  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	width: 60vw;
	margin: 0 auto;
	text-align: center;
}

/* Header elements ------  */

h1 {
	margin: 20px;
	padding: 10px;
}

h2 {
	color: turquoise;
	margin: 20px;
	padding: 10px;
}

textarea {
	font: 1em sans-serif;
	width: 50%;
	box-sizing: border-box;
	border: 1px solid #999;
	border-radius: 10px;
	padding: 10px;
	vertical-align: middle;
	margin: 20px;
}

button#add {
	padding: 10px;
	width: 20%;
	margin-left: 50px;
	background-color: turquoise;
	border: 1px solid #999;
	border-radius: 5px;
}

/* Added notes area ------  */

div.notes-board {
	margin-top: 20px;
	width: auto;
	display: grid;
	grid-template-columns: 2fr 2fr;
	gap: 10px;
	justify-content: center;
	/* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25); */
	/* border-radius: 20px; */
}

div#wrapper {
	border: 0.5px solid #dcdcdc;
	border-radius: 10px;
	margin: 20px 25px;
	height: 100px;
	padding: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

button#view-details {
	padding: 5px;
	margin-top: 10px;
	border: none;
	background-color: cornflowerblue;
	color: white;
	width: max-content;
	text-align: center;
}

p#new-note {
	align-self: flex-start;
	text-align: left;
	font-size: 14px;
	overflow: hidden;
}
h4 {
	align-self: flex-start;
	padding: 0 0 5px 0;
}

p#no-notes {
	margin: 10px;
}

/* Modal area ---------  */

div.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.modal.show {
	opacity: 1;
	pointer-events: auto;
}

div#content {
	background: white;
	min-width: fit-content;
	max-width: 50%;
	min-height: fit-content;
	padding: 20px;
	border-radius: 20px;
}
div#content p {
	text-align: left;
	font-size: 14px;
}

div#close {
	margin: 0 0 10px 0;
	border: 1px solid black;
	cursor: pointer;
	position: relative;
	width: 20px;
	text-align: center;
	border-radius: 50%;
	color: white;
	background: black;
}
